$grid_width: 80%;
$project_width: 33.3%;
$skillImageWidth: 3rem;
$projectFontSize: 1.3125rem;

.container {
    padding: 2rem 4rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: 100vh;

    background-color: var(--blue-50);

    z-index: 1;
}

.row {
    display: flex;

    align-items: center;

    width: 100%;
}

.firstRow {
    display: flex;
    flex-direction: row-reverse;

    padding-right: 10rem;

    width: 100%;
    height: 4rem;


    h2 {
        font-size: 3rem;
        font-family: var(--font-roboto);
        color: var(--white);

        position: relative;

        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;

            height: 0.5rem;
            width: 30rem;
            z-index: 1;

            background-color: var(--pink-10);
        }
    }

    .titleContainer {
        position: absolute;
        left: 4rem;
        top: 16rem;

        font-size: 4rem;

        width: 50rem;

        .title {
            color: var(--green-500);

            font-size: 3rem;
        }

        .text {
            color: var(--white);
        }

        transition: all 2s !important;

        cursor: default;

        z-index: 2;

        &:hover {
            top: 20rem;

            .title {
                color: var(--white);
            }

            .text {
                color: var(--green-500);
            }
        }
    }
}

.secondRow {
    display: flex;

    width: 100%;
    min-height: 100%;

    margin-top: 2rem;

    z-index: 2;

    .personContainer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        width: 120%;
        min-height: calc(100vh - 15rem);

        position: relative;
        z-index: 10;

        .imageContainer {
            display: flex;

            margin-right: 2rem;
            z-index: 1;
        }

        .electricFieldContainer {
            position: absolute;

            top: -12rem;
            left: -4rem;
            z-index: 0;

            -webkit-animation: scale-up-center 0.1s steps(3, end) 1s infinite alternate-reverse forwards;
            animation: scale-up-center 0.1s steps(3, end) 1s infinite alternate-reverse forwards;

            @-webkit-keyframes scale-up-center {
                0% {
                    -webkit-transform: scale(0.5);
                    transform: scale(0.5);
                }
                100% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            @keyframes scale-up-center {
                0% {
                    -webkit-transform: scale(0.5);
                    transform: scale(0.5);
                }
                100% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

            // -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            // animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

            // /* ----------------------------------------------
            //     * Generated by Animista on 2024-3-29 14:14:41
            //     * Licensed under FreeBSD License.
            //     * See http://animista.net/license for more info.
            //     * w: http://animista.net, t: @cssanimista
            //     * ---------------------------------------------- */

            //                 /**
            //     * ----------------------------------------
            //     * animation rotate-in-center
            //     * ----------------------------------------
            // */
            // @-webkit-keyframes rotate-in-center {
            //     0% {
            //         -webkit-transform: rotate(-360deg);
            //         transform: rotate(-360deg);
            //         opacity: 0;
            //     }
            //     100% {
            //         -webkit-transform: rotate(0);
            //         transform: rotate(0);
            //         opacity: 1;
            //     }
            // }
            // @keyframes rotate-in-center {
            //     0% {
            //         -webkit-transform: rotate(-360deg);
            //         transform: rotate(-360deg);
            //         opacity: 0;
            //     }
            //     100% {
            //         -webkit-transform: rotate(0);
            //         transform: rotate(0);
            //         opacity: 1;
            //     }
            // }
        }

        .midTriangle {
            width: 18rem;
            height: 140vh;
            
            position: absolute;
            top: 4rem;
            right: 16rem;
            background-color: var(--pink-50);

            transform: rotate(145deg);

            z-index: 0 !important;
        }
    }

    .experienceTextContainer {
        display: flex;
        width: 60rem;


        padding: 4rem;
        padding-top: 0;
        padding-left: 1rem;
        p {
            font-family: var(--font-roboto);
            font-size: 1.9rem;

            font-weight: 400;

            text-align: right;
            text-wrap: wrap;
            line-height: 2.3rem;

            width: 105rem;

            .greenHighlight {
                color: var(--green-500);
            }

            .pinkHighlight {
                color: var(--pink-50);
            }
        }
    }

    .void {
        position: relative;
        .electroMagneticWavesContainer {
            position: absolute;
            top: -19rem;
            right: 15rem;

            width: 40rem;

            display: flex;

            z-index: 0;
            img {
                transform: rotate(356deg);
            }
        }
    }

}

.thirdRow {
    background-color: var(--pink-50);

    height: 10rem;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    left: 0;
    bottom: 0;

    z-index: 1;

    z-index: 1;

    .carouselContainer {
        display: flex;

        width: 70%;

        height: 10rem;
        top: -10rem;

    }
}

/* Responsive behaviour for Experience section */
@media screen and (max-width: 1024px) {
    .container {
        padding: 1.5rem 2rem;
    }

    .secondRow {
        flex-direction: column-reverse;
        align-items: center;
        .personContainer {
            width: 100%;
            
            height: 10rem;
            .imageContainer { margin-right: 0; display:block; margin-bottom: 20rem; }
            .electricFieldContainer { position: relative; top: 0; left: 0; }
            .midTriangle { display: none; }
        }
    }
    


    .experienceTextContainer {
        width: 100vw;
        padding: 1rem 0;
    }

    /* Ensure carousel uses full width on tablet */
    .thirdRow {
        .carouselContainer {
            width: 100%;
        }
    }
}

@media screen and (max-width: 530px) {
    .container { padding: 1rem; }

    .secondRow {
        /* Em celulares: garantir que o texto e a pessoa se alinhem corretamente,
           e evitar que a imagem sobreponha o carrossel abaixo. */
        .experienceTextContainer {
            width: 100%;
            padding: 1rem 0;

            p {
                /* Texto mais legível em telas pequenas */
                text-align: left;
                width: 100%;
            }
        }

        .personContainer {
            /* Inverter o fluxo interno para que a imagem fique do outro lado */
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            /* Espaço inferior para que a imagem não sobreponha o carousel abaixo */

            padding-bottom: 12rem;

            width: 100%;
            max-height: 10rem;

            .imageContainer {
                /* remover margens laterais que atrapalham no layout mobile
                   e garantir que a imagem ocupe mais largura e deixe espaço
                   abaixo para não sobrepor o carrossel */
                margin: 0 0rem;
                display: block;
                width: 200rem;
                align-self: center;
            }

            .electricFieldContainer {
                position: relative;
                top: 0;
                left: 0;
                width: 3rem;
            }
            .midTriangle { display: none; }
        }
    }

}

@media screen and (max-width: 450px) {
    .secondRow {
        .personContainer {
            .imageContainer {
                margin: 0 0rem;
                padding-top: 2rem;
                display: block;
                width: 200rem;
                align-self: center;
            }
            .midTriangle { display: none; }
        }
    }
}