.main {
    margin-top: 7rem;

    overflow-x: hidden;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--pink-50);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--blue-50);
    }
}