* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-roboto);

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--pink-50);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--blue-50);
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --blue-50-25: rgba(27, 30, 50, 0.25);
    --blue-100: #141628;
    --blue-50: #1B1E32;
    --blue--10: #28B1BE;

    --pink-500: #FF007F;
    --pink-50: #F64C6F;
    --pink-10: #F8A0B6;

    --white: #FFF;

    --green-500: #04D361;
    --green-50: #79e59b;
    --green-10: #A3E3B0;

    --header-height: 6rem;

}

@media (max-width: 1080px){
    html {
        font-size: 93.75%; //15px --> 93,75%=15px/16px; 1rem = 16px, 
    }
}

@media (max-width: 720px){
    html {
        font-size: 87.5%; //14px
    }
}

body {
    background-color: var(--blue-50);
    color: var(--white);

    overflow: hidden;
}

body, input, textarea, button {
    font: 500 1rem var(--font-roboto);
    color: var(--white);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    font-family: var(--font-roboto);
    color: var(--white);
}

h1 {
    font-size: 2rem; //32px
}

h2 {
    font-size: 1.5rem; //24px
}

button {
    cursor: pointer;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
}