$height: calc(100vh - var(--header-height));

.container {
    padding: 0 4rem;

    background-color: transparent;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: $height;

    z-index: 4;
}

.row {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.firstColumn {
    display: flex;
    flex-direction: column-reverse;

    padding-bottom: 10rem;

    position: relative;

    height: $height;
    width: 40%;

    @media screen and (max-width: 430px) {
        right: 4rem;

        .titleContainer {
            min-height: 10rem;
            position: static;
            
            top: 0;
            right: -10rem !important;

            .text {
                font-size: 2rem;
            }
        }
    }

    .titleContainer {
        position: absolute;
        left: 4rem;
        top: 16rem;

        font-size: 4rem;

        width: 50rem;

        .title {
            color: var(--green-500);

            font-size: 3rem;
        }

        .text {
            color: var(--white);
        }

        transition: all 2s !important;

        cursor: default;

        z-index: 2;

        &:hover {
            top: 20rem;

            .title {
                color: var(--white);
            }

            .text {
                color: var(--green-500);
            }
        }
    }
}

.secondColumn {
    width: 60%;
    height: 100%;

    position: relative;
    bottom: 1.5rem;

    z-index: 0;
}

.imageContainer {
    position: absolute;
    bottom: -16rem;
    left: -20rem;

    width: calc(100vw - 20rem);

    @media screen and (max-width: 820px) {
        bottom: -7rem;
        left: -10rem;

        width: calc(100vw - 3rem);
    }

    @media screen and (max-width: 430px) {
        bottom: -3rem;
        left: -10rem;

        width: calc(100vw - 1rem);
    }

    // transition: all 2s;
    // &:hover {
    //     left: -24rem;
    // }
}

.swipeupLink {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.swipeupContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2rem;

    z-index: 5;

    width: 100%;
    height: 10rem;

    .swipeupButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-family: var(--font-roboto);
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--green-500);

        cursor: pointer;

        .swipeupButtonCentered {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* hover state handled on the link so both arrow and text react */
        transition: color 200ms ease;
    }
}

/* arrow styling and hover animation */
.swipeupLink {
    text-decoration: none;
    color: var(--green-500); /* default arrow/text color */
    display: inline-block;
}

.swipeupLink .swipeupButton {
    transition: color 160ms ease;
}

.swipeupLink .swipeupArrow {
    display: block;
    transition: transform 180ms ease, color 160ms ease;
    transform: translateY(0);
    color: inherit; /* used by svg fill via currentColor */
}

.swipeupLink:hover {
    color: var(--pink-500);
}

.swipeupLink:hover .swipeupArrow {
    transform: translateY(-6px);
}

/* Mobile / tablet responsive adjustments */
@media screen and (max-width: 1024px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .firstColumn, .secondColumn {
        width: 100%;
        height: auto;
        padding-bottom: 4rem;
    }

    .firstColumn {
        .titleContainer {
            position: static;
            left: auto;
            top: auto;
            width: 100%;
            padding: 2rem 1.5rem;
            text-align: center;
            /* slightly larger title on tablet/mobile for better readability */
            .title { font-size: 2.6rem; }
            .text { font-size: 1.6rem; }
        }
    }

    /* keep the hero image visually anchored near the bottom-right of the hero block */
    .imageContainer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        width: 48%;
        max-width: 480px;
        margin-top: 0;
    }
}

@media screen and (max-width: 430px) {
    .row {
        flex-direction: column;

        .secondColumn {

                .imageContainer {
                    /* pin the image to the bottom-right corner of the hero block */
                    position: relative;
                    bottom: 0;
                    right: 0;
                    left: auto;
                    width: 100%;
                    max-width: 420px;
                }
        }
    }
    .container {
        padding: 0 1.25rem;
    }

    .firstColumn {
        padding-bottom: 6rem;
        .titleContainer {
            padding: 1rem 0.5rem;
            /* mobile: make title a bit larger than before per design request */
            .title { font-size: 2.8rem; }
            .text { font-size: 1.4rem; }
        }
    }

    .imageContainer {
        /* pin the image to the bottom-right corner of the hero block */
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        width: 50%;
        max-width: 420px;
    }

    .swipeupContainer {
        .swipeupButton { font-size: 1.2rem; }
    }
}
