$height: calc(100vh - var(--header-height));

.container {
    padding: 0 4rem;

    background-color: transparent;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: $height;

    z-index: 4;
}

.row {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.firstColumn {
    display: flex;
    flex-direction: column-reverse;

    padding-bottom: 10rem;

    position: relative;

    height: $height;
    width: 40%;

    @media screen and (max-width: 430px) {
        right: 4rem;

        .titleContainer {
            min-height: 10rem;
            position: static;
            
            top: 0;
            right: -10rem !important;

            .text {
                font-size: 2rem;
            }
        }
    }

    .titleContainer {
        position: absolute;
        left: 4rem;
        top: 16rem;

        font-size: 4rem;

        width: 50rem;

        .title {
            color: var(--green-500);

            font-size: 3rem;
        }

        .text {
            color: var(--white);
        }

        transition: all 2s !important;

        cursor: default;

        z-index: 2;

        &:hover {
            top: 20rem;

            .title {
                color: var(--white);
            }

            .text {
                color: var(--green-500);
            }
        }
    }
}

.secondColumn {
    width: 60%;
    height: 100%;

    position: relative;
    bottom: 1.5rem;

    z-index: 0;
}

.imageContainer {
    position: absolute;
    bottom: -16rem;
    left: -20rem;

    width: calc(100vw - 20rem);

    @media screen and (max-width: 820px) {
        bottom: -7rem;
        left: -10rem;

        width: calc(100vw - 3rem);
    }

    @media screen and (max-width: 430px) {
        bottom: -3rem;
        left: -10rem;

        width: calc(100vw - 1rem);
    }

    // transition: all 2s;
    // &:hover {
    //     left: -24rem;
    // }
}

.swipeupContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2rem;

    z-index: 5;

    width: 100%;
    height: 10rem;

    .swipeupButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-family: var(--font-roboto);
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--green-500);

        cursor: pointer;

        .swipeupButtonCentered {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            img {
                width: 100;
                height: 100;
            }
        }
    }
}

/* Mobile / tablet responsive adjustments */
@media screen and (max-width: 1024px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .firstColumn, .secondColumn {
        width: 100%;
        height: auto;
        padding-bottom: 4rem;
    }

    .firstColumn {
        .titleContainer {
            position: static;
            left: auto;
            top: auto;
            width: 100%;
            padding: 2rem 1.5rem;
            text-align: center;
            .title { font-size: 2.4rem; }
            .text { font-size: 1.6rem; }
        }
    }

    .imageContainer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 430px) {
    .container {
        padding: 0 1.25rem;
    }

    .firstColumn {
        padding-bottom: 6rem;
        .titleContainer {
            padding: 1rem 0.5rem;
            .title { font-size: 2rem; }
            .text { font-size: 1.4rem; }
        }
    }

    .imageContainer {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .swipeupContainer {
        .swipeupButton { font-size: 1.2rem; }
    }
}
