.headerContainer {
    min-width: var(--header-height);
}

.navbarContainer {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 430px) {
        justify-content: center;
    }

    padding-inline: 1rem;

    background-color: var(--blue-100);

    height: var(--header-height);
    width: 100vw;

    border-bottom: .4px solid rgba(255,255,255,0.01);

    z-index: 10;

    /* smooth transform and opacity transitions */
    transition: transform .28s ease, opacity .28s ease;

    /* collapsed state will translate the navbar out of view (used for mobile) */
    &.collapsed {
        transform: translateY(calc(-1 * var(--header-height)));
        pointer-events: none;
        opacity: 0; /* hide while collapsed */
    }
}

.logoContainer {
    width: 50%;
    display: flex;

    padding-left: 1rem;

    @media screen and (max-width: 430px) {
        padding: 0;

        justify-content: center;
    }
}

.buttonsContainer {
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-inline: 2rem;
        background-color: transparent;

        color: var(--white);

        border: 0px solid transparent;

        transition: all .5s;
        &:hover {
            opacity: .7;
            transform: translate(.5px, 1px);
        }
    }

    @media screen and (max-width: 430px) {
        display: none;
    }
}

/* desktop: slightly transparent by default, fully visible on hover */
@media screen and (min-width: 431px) {
    .navbarContainer {
        opacity: .85;

        &:hover {
            opacity: 1;
        }
    }
}

$imgSize: 3.5rem;

.imgContainer {
    display: flex;
    width: $imgSize;
    height: $imgSize;
}