.carouselContainer {
    display: flex;

    width: 100%;
    height: 100%;

}

.carouselClass {
    display: flex;
    width: 100%;
    position: relative;

}

.carouselItem {
    display: flex;

    margin: 0rem;

    height: 9rem;
    width: 13rem !important;

    justify-content: center;
    align-items: center;

    .skillImage {
        display: flex;
        height: 8rem;

    }
}
