$grid_width: 80%;
$project_width: 33.3%;
$skillImageWidth: 3rem;
$projectFontSize: 1.3125rem;

.container {
    padding: 0 4rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: calc(100vh - 5rem);

    background-color: var(--blue-50);

    z-index: 3;

    .backgroundImage {
        position: absolute;

        height: 100%;
        width: 100vw;

        bottom: 0rem;
        left: 0;

        z-index: 0;

        .hidden {
            display: none;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;

    width: 100%;
    z-index: 4;

    .halfRow {
        width: 50%;
    }
}

.firstRow {
    display: flex;

    padding: 4rem 0 1rem 4rem;

    width: 100%;

    h2 {
        font-size: 3rem;
        font-family: var(--font-roboto);
        color: var(--white);

        position: relative;

        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 100%;

            height: 0.5rem;
            width: 30rem;
            z-index: 1;

            background-color: var(--green-500);
        }
    }

    .titleContainer {
        position: absolute;
        left: 4rem;
        top: 16rem;

        font-size: 4rem;

        width: 50rem;

        .title {
            color: var(--green-500);

            font-size: 3rem;
        }

        .text {
            color: var(--white);
        }

        transition: all 2s !important;

        cursor: default;

        z-index: 2;

        &:hover {
            top: 20rem;

            .title {
                color: var(--white);
            }

            .text {
                color: var(--green-500);
            }
        }
    }
}


.contactFormColumn {
    background-color: red;
    display: flex;
    
    height: 100%;
    width: 50%;
    input {
        background-color: var(--green-500);
    }
}



$mediaIconSize: 3rem;

.textColumn {
    .pinkText {
        color: var(--pink-50);
    }
    .titleRow {
        font-family: Roboto;
    }

    .textRow {
        font-family: Roboto;
    }

    .socialMediaRow {
        display: flex;
        gap: .5rem;

        .socialMediaIcon {
            display: flex;

            height: $mediaIconSize;
            width: $mediaIconSize;
        }
    }
}