$grid_width: 80%;
$project_width: 33.3%;
$skillImageWidth: 3rem;
$projectFontSize: 1.3125rem;

.container {
    padding: 0 4rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: calc(100vh - 5rem);

    background-color: var(--blue-50);

    z-index: 3;

    .backgroundImage {
        position: absolute;

        height: 100%;
        width: 100vw;

        bottom: 0rem;
        left: 0;

        z-index: 0;

        .hidden {
            display: none;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;

    width: 100%;
    z-index: 4;

    .halfRow {
        width: 50%;
    }
}

.firstRow {
    display: flex;

    padding: 4rem 0 1rem 4rem;
    padding-bottom: 3rem;

    width: 100%;

    h2 {
        font-size: 3rem;
        font-family: var(--font-roboto);
        color: var(--white);

        position: relative;

        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 100%;

            height: 0.5rem;
            width: 30rem;
            z-index: 1;

            background-color: var(--green-500);
        }
    }

    .titleContainer {
        position: absolute;
        left: 4rem;
        top: 16rem;

        font-size: 4rem;

        width: 50rem;

        .title {
            color: var(--green-500);

            font-size: 3rem;
        }

        .text {
            color: var(--white);
        }

        transition: all 2s !important;

        cursor: default;

        z-index: 2;

        &:hover {
            top: 20rem;

            .title {
                color: var(--white);
            }

            .text {
                color: var(--green-500);
            }
        }
    }
}

.secondRow {
    $contactFormPercentage: 50%;

    width: 100%;

    display: flex;
    flex-direction: row;

    .contactFormColumn {
        display: flex;

        height: 100%;

        padding-top: 3rem;
        width: $contactFormPercentage;

        form {
            width: 100%;
            height: 100%;

            // background-color: var(--blue-50);
        }

        /* input/textarea styling moved to the Input component's styles.module.scss */

        .subjectContainer {
            width: 100%;

            /* message container uses Input component's textarea rendering and styling */
        }

        .buttonContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            .submitButton {
                width: 50%;
                height: 3.5rem;
                /* match input height */
                background-color: var(--green-50);
                color: var(--pink-50);
                font-family: var(--font-roboto);
                font-weight: 800;
                font-size: 2rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                border: none;
                cursor: pointer;
                transition: background-color 150ms ease, color 150ms ease;

                .buttonIcon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: transform 150ms ease;

                    svg {
                        width: 2.2rem;
                        height: 1.8rem;
                    }
                }

                .buttonText {
                    transition: transform 150ms ease;
                    display: inline-block;
                }

                &:hover {
                    background-color: var(--pink-50);
                    color: var(--green-50);

                    .buttonIcon {
                        transform: scale(1.25);
                    }

                    .buttonText {
                        transform: scale(1.12);
                    }
                }
            }
        }
    }


    $mediaIconSize: 3rem;

    .textColumn {
        width: calc(100% - $contactFormPercentage);

        min-height: 40rem;

        .pinkText {
            color: var(--pink-50);
        }

        .titleRow {
            font-family: var(--font-roboto);

            h3 {
                font-size: 2.5rem;
            }
        }

        .textRow {
            font-family: var(--font-roboto);
            font-size: 2rem;
            font-weight: 100;
            line-height: 4rem;
        }

        .socialMediaRow {
            display: flex;
            gap: .5rem;

            .socialMediaIcon {
                display: flex;

                height: $mediaIconSize;
                width: $mediaIconSize;
            }
        }
    }
}