$grid_width: 80%;
$project_width: 33.3%;
$skillImageWidth: 3rem;
$projectFontSize: 1.3125rem;

.container {
    padding: 0 4rem;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: calc(100vh - 5rem);

    // background-color: var(--blue-50);

    z-index: 3;

    .backgroundImage {
        position: absolute;
        display: none;

        height: 100%;
        width: 100vw;

        bottom: 0rem;
        left: 0;

        z-index: 0;

        .hidden {
            display: none;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;



    width: 100%;
    z-index: 4;

    .halfRow {
        width: 50%;
    }
}

.firstRow {
    display: flex;

    padding: 4rem 0 1rem 4rem;
    padding-bottom: 3rem;

    width: 100%;

    h2 {
        font-size: 3rem;
        font-family: var(--font-roboto);
        color: var(--white);

        position: relative;

        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 100%;

            height: 0.5rem;
            width: 30rem;
            z-index: 1;

            background-color: var(--green-500);
        }
    }

    .titleContainer {
        position: absolute;
        left: 4rem;
        top: 16rem;

        font-size: 4rem;

        width: 50rem;

        .title {
            color: var(--green-500);

            font-size: 3rem;
        }

        .text {
            color: var(--white);
        }

        transition: all 2s !important;

        cursor: default;

        z-index: 2;

        &:hover {
            top: 20rem;

            .title {
                color: var(--white);
            }

            .text {
                color: var(--green-500);
            }
        }
    }
}

.secondRow {
    $contactFormPercentage: 50%;

    width: 100%;

    display: flex;
    flex-direction: row;

    .contactFormColumn {
        display: flex;

        height: 100%;

        padding-top: 3rem;
        width: $contactFormPercentage;

        form {
            width: 100%;
            height: 100%;

            // background-color: var(--blue-50);
        }

        /* input/textarea styling moved to the Input component's styles.module.scss */

        .subjectContainer {
            width: 100%;

            /* message container uses Input component's textarea rendering and styling */
        }

        .buttonContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            .submitButton {
                width: 50%;
                height: 3.5rem;
                /* match input height */
                background-color: var(--green-50);
                color: var(--pink-50);
                font-family: var(--font-roboto);
                font-weight: 800;
                font-size: 2rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                border: none;
                cursor: pointer;
                transition: background-color 150ms ease, color 150ms ease;

                .buttonIcon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: transform 150ms ease;

                    svg {
                        width: 2.2rem;
                        height: 1.8rem;
                    }
                }

                .buttonText {
                    transition: transform 150ms ease;
                    display: inline-block;
                }

                &:hover {
                    background-color: var(--pink-50);
                    color: var(--green-50);

                    .buttonIcon {
                        transform: scale(1.25);
                    }

                    .buttonText {
                        transform: scale(1.12);
                    }
                }
            }
        }
    }

    /* wrappers and error styling for form validation */
    .fieldWrapper {
        width: 100%;
        display: block;

        /* ensure input inside the Input component gets highlighted via outline when parent has error */
        input {
            transition: outline-color 120ms ease, box-shadow 120ms ease;
            outline: none;
        }
    }

    .hasError {
        input {
            outline: 2px solid var(--pink-500);
            outline-offset: 2px;
            box-shadow: 0 0 0 3px rgba(246,76,111,0.08);
        }
    }

    .errorText {
        color: var(--pink-500);
        font-family: var(--font-roboto);
        font-size: 0.875rem;
        font-weight: 400;
        margin-top: 0.25rem;
    }


    $mediaIconSize: 3rem;

    .textColumn {
        padding-left: 1rem;
        width: calc(100% - $contactFormPercentage);

        min-height: 40rem;

        .pinkText {
            color: var(--pink-50);
        }

        .greenText {
            color: var(--green-50);
        }

        .titleRow {
            font-family: var(--font-roboto);

            h3 {
                font-size: 2.5rem;
            }
        }

        .textRow {
            font-family: var(--font-roboto);
            font-size: 2rem;
            font-weight: 100;
            line-height: 4rem;
        }

        .socialMediaRow {
            display: flex;
            gap: .5rem;

            .socialMediaIcon {
                display: flex;

                height: $mediaIconSize;
                width: $mediaIconSize;
            }
        }
    }

    .sentTextColumn {
        padding-left: 1rem;

        .pinkText {
            color: var(--pink-50);
        }

        .greenText {
            color: var(--green-50);
        }

        .titleRow {
            font-family: var(--font-roboto);

            h3 {
                font-size: 2rem;
            }
        }

        .textRow {
            font-family: var(--font-roboto);
            font-size: 1.5rem;
            font-weight: 100;
        }

        .socialMediaRow {
            display: flex;
            gap: .5rem;

            .socialMediaIcon {
                display: flex;

                height: $mediaIconSize;
                width: $mediaIconSize;
            }
        }
    }

    
}

.successView {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .imageContainer {
        display: flex;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        
        width: 30rem;
    }
}

/* Responsive for contact / get-in-touch */
@media screen and (max-width: 820px) {
    .container { padding: 1.25rem; background-color: transparent;}

    .backgroundImage { display: none; }
    /* reverse column so the text column appears first on mobile */
    .secondRow {
        flex-direction: column-reverse;

        padding-bottom: 10rem;

        .contactFormColumn {
            width: 100%;
            padding-top: 1rem;
        }

        .textColumn {
            width: 100%;

            .socialMediaRow {
                justify-content: center;
            }
        }

        .halfRow {
            width: 100%;
        }
    }
    .contactFormColumn { width: 100%; padding-top: 1rem; }
    /* ensure form takes full available width on small screens */
    .contactFormColumn {
        form { width: 100%; max-width: 100%; }
        /* force inner rows to stack so halfRow fields become full-width */
        .row { flex-direction: column; }
    }
    .halfRow { width: 100%; }
    .textColumn {
        width: 100%;
        padding-left: 0;
        .titleRow { h3 { font-size: 1.6rem; } }
        .textRow { font-size: 1.15rem; line-height: 1.8rem; }
        /* paragraph should occupy whole width and not be capped */
        .textRow {
            p { width: 100%; max-width: none; display: block; }
        }
    }
    .buttonContainer .submitButton { width: 90%; font-size: 1.6rem; }
    .successView .imageContainer { width: 18rem; }
}


@media screen and (min-width: 530px) {
    .secondRow {
        .textColumn {
            min-height: 25rem;
            padding-bottom: 10rem;

            .socialMediaRow {
                justify-content: center;
            }
        }

        .halfRow {
            width: 100%;
        }
    }
}

@media screen and (max-width: 430px) {
    .container { padding: 0.75rem; }
    .textColumn .titleRow { h3 { font-size: 1.35rem; } }
    .textColumn .textRow { font-size: 1rem; line-height: 1.5rem; }
    .buttonContainer .submitButton { font-size: 1.4rem; width: 95%; }
    .successView .imageContainer { width: 14rem; }

    /* reinforce full width behaviour on very small screens */
    .contactFormColumn { form { width: 100%; max-width: 100%; } }
    .halfRow { width: 100%; }
    .textColumn .textRow { p { width: 100%; max-width: none; } }
}